---
type Project = {
  slug: string;
  title: string;
  description: string;
  tags: string[];
  links?: {
    github?: string;
    live?: string;
    details?: string;
  };
};

type Props = {
  project: Project;
};

const { project } = Astro.props;
---

<article class="card project">
  <div class="project-content">
    <h3>{project.title}</h3>
    <p>{project.description}</p>
    <ul class="tags">
      {project.tags.map((tag) => (
        <li>{tag}</li>
      ))}
    </ul>
  </div>

  <div class="project-actions">
    {project.links?.github ? (
      <a class="btn tiny ghost project-btn" href={project.links.github} target="_blank" rel="noopener">
        View code on GitHub
      </a>
    ) : null}

    {!project.links?.github && project.links?.live ? (
      <a class="btn tiny ghost project-btn" href={project.links.live} target="_blank" rel="noopener">
        View live
      </a>
    ) : null}

    {!project.links?.github && !project.links?.live && project.links?.details ? (
      <a class="btn tiny ghost project-btn" href={project.links.details}>
        View details
      </a>
    ) : null}
  </div>
</article>

<style>
  .project {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .project-content {
    flex: 1;
  }
  /* Ensure actions stick to bottom */
  .project-actions {
    margin-top: 1.5rem;
  }
</style>
